function FollowButton(cfg) {
  this.uri = cfg.uri;
  this.selector = cfg.selector;
  this.setBlogWidget = cfg.setBlogWidget

  this._buttonId = "follow-button";

  this.init();
}

FollowButton.prototype.init = function() {
  var html="<form class='form-inline my-2 my-lg-0'>"
    + "<button class='btn btn-primary my-2 my-sm-0'"
    + " id='" + this._buttonId + "'>"
    + "<span class='oi oi-plus' title='follow' aria-hidden='true'></span>"
    + " Follow</button>"
    + "</form>";

  $(this.selector).append(html);

  var fb = this;

  $("#"+fb._buttonId).click(function(e) {
    e.preventDefault();

    fb.setBlogWidget.getBlog(function(url) {
      fb.handleFollow(url);
    });
    
    return false;
  });
}

FollowButton.prototype.handleFollow = function(userUrl) {
  var followUrl = this.uri;

  var url = userUrl + "/follow?add=" + encodeURIComponent(followUrl);
  var tab = window.open(url, '_blank');
  tab.focus();
}
