
<div id="kalona" class="d-none d-md-block">
  <a id="kalona-button" tabindex="0" role="button" data-toggle="popover">
    <img src="/media/kalona.png"/>
  </a>
</div>

<script>
  <% include utils.ejs %>
  var tooltipCfg = Utils.makeBsTooltipCfg('Hello :)');
  $("#kalona-button").popover(tooltipCfg);
</script>
