<!-- needs 'uri' defined in ejs --> 

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid" id="jumbotron"></div>
<div id="masthead" class="collapse">
  <div class="text-center">
    <a href="/"><div class="d-inline-block avatar collapse"></div></a>
  </div>
  <div class="text-center">
    <div class="d-inline-block">
      <a href="/"><h1 class="collapse"></h1></a>
    </div>
  </div>
  <p class="lead collapse"></p>
</div>

<script>
var Masthead = new function() {
  this.init = function(uri) {
    this.uri = uri;

    this.update();
  };

  this.update = function() {
    if (typeof NsfwOverlay !== 'undefined')
      NsfwOverlay.open();

    $.getJSON(this.uri, function(data) {
      if (typeof NsfwOverlay !== 'undefined')
      {
        if (data.nsfw)
          NsfwOverlay.lock();
        else
          NsfwOverlay.close();
      }

      // set site info
      if (data.name)
        $("title").prepend(data.name + " - ");
      $("head")
        .append('<meta property="og:title" content="' + data.name + '">')
        .append('<meta property="og:description" content="' 
          + data.description + '">')
        .append('<meta name="description" content="' 
          + data.description + '">')
        .append('<meta property="og:url" content="' + data.blog_url + '">')
        .append('<meta property="og:image" content="' + data.avatar_url + '">')
        .append('<meta property="og:type" content="website">');

      // set jumbotron
      if (data.header_url)
        $("#jumbotron").css('background-image', 
          'url(' + data.header_url + ')')
          .addClass('active').removeClass('inactive');
      else
        $("#jumbotron").css('background-image', 'url()')
          .removeClass('active').addClass('inactive');

      // set masthead
      if (data.name || data.description || data.avatar_url)
      {
        $("#masthead").show();

        if (data.avatar_url)
          $("#masthead .avatar").css('background-image', 
            'url(' + data.avatar_url + ')').show();
        else
          $("#masthead .avatar").css('background-image', 'url()').show();

        if (data.name)
          $("#masthead h1").html(data.name).show();

        if (data.description)
          $("#masthead .lead").html(data.description).show();

        if (data.blog_url)
          $("#masthead a").attr('href', data.blog_url);
      }
    });
  }
};

Masthead.init("<%= uri %>");
</script>
