<!-- needs 'uri' defined in ejs --> 

<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid" id="jumbotron"></div>
<div id="masthead" class="collapse">
  <a href="/"><div class="avatar collapse"></div></a>
  <a href="/"><h1 class="collapse"></h1></a>
  <p class="lead collapse"></p>
</div>

<script>
var Masthead = new function() {
  this.init = function(uri) {
    this.uri = uri;

    this.update();
  };

  this.update = function() {
    if (NsfwOverlay)
      NsfwOverlay.open();

    $.getJSON(this.uri, function(data) {
      if (NsfwOverlay)
      {
        if (data.nsfw)
          NsfwOverlay.lock();
        else
          NsfwOverlay.close();
      }

      // set jumbotron
      if (data.header_url)
        $("#jumbotron").css('background-image', 
          'url(' + data.header_url + ')')
          .addClass('active').removeClass('inactive');
      else
        $("#jumbotron").css('background-image', 'url()')
          .removeClass('active').addClass('inactive');

      // set masthead
      if (data.name || data.description || data.avatar_url)
      {
        $("#masthead").show();

        if (data.avatar_url)
          $("#masthead .avatar").css('background-image', 
            'url(' + data.avatar_url + ')').show();
        else
          $("#masthead .avatar").css('background-image', 'url()').show();

        if (data.name)
          $("#masthead h1").html(data.name).show();

        if (data.description)
          $("#masthead .lead").html(data.description).show();

        if (data.blog_url)
          $("#masthead a").attr('href', data.blog_url);
      }
    });
  }
};

Masthead.init("<%= uri %>");
</script>
