<!-- jumbotron -->
<div class="jumbotron jumbotron-fluid" id="jumbotron"></div>
<div id="masthead" class="collapse">
  <div class="text-center">
    <a class="link-to-site" href="/">
      <div class="d-inline-block avatar collapse"></div>
    </a>
  </div>
  <div class="text-center">
    <div class="d-inline-block">
      <a class="link-to-site" href="/"><h1 class="collapse"></h1></a>
    </div>
  </div>
  <p class="lead collapse"></p>
</div>

<script>
<% include ../partials/utils.ejs %>

var Masthead = new function() {
  this.init = function(uri) {
    this.uri = uri;
    this._mdConverter = new showdown.Converter();

    this.update();
  }

  this.reset = function() {
    if ($("#masthead-head-marker").length == 0)
    {
      // first time, inject marker into <head> 
      // to mark where orig head content ended
      $("head").append("<script id='masthead-head-marker'><\/script>");
    }

    // delete everything we added after our marker
    $("#masthead-head-marker").nextAll().remove();

    // reset title
    $("title").html($("title").html().split(" - ").slice(-1)[0]); 
  }

  this.update = function() {
    if (typeof NsfwOverlay !== 'undefined')
      NsfwOverlay.open();

    var mh = this;
    $.getJSON(Utils.timestampUrl(this.uri), function(data) {
      if (typeof NsfwOverlay !== 'undefined')
      {
        if (data.nsfw)
          NsfwOverlay.lock();
        else
          NsfwOverlay.close();
      }

      mh.reset();

      /*
       * set site info
       */
      mh.setTitleBar(data);
      $("head")
        .append('<meta property="og:title" content="' + data.name + '">')
        .append('<meta property="og:description" content="' 
          + data.description + '">')
        .append('<meta name="description" content="' 
          + data.description + '">')
        .append('<meta property="og:url" content="' + data.blog_url + '">')
        .append('<meta property="og:image" content="' + data.avatar_url + '">')
        .append('<meta property="og:type" content="website">');

      /*
       * set jumbotron
       */
      if (data.header_url)
        $("#jumbotron").css('background-image', 
          'url(' + data.header_url + ')')
          .addClass('active').removeClass('inactive');
      else
        $("#jumbotron").css('background-image', 'url()')
          .removeClass('active').addClass('inactive');

      /*
       * set masthead
       */
      if (data.name || data.description || data.avatar_url)
      {
        $("#masthead").show();

        if (data.avatar_url)
          $("#masthead .avatar").css('background-image', 
            'url(' + data.avatar_url + ')').show();
        else
          $("#masthead .avatar").css('background-image', 'url()').show();

        if (data.name)
          $("#masthead h1").html(data.name).show();
        else
          $("#masthead h1").html("").hide();

        if (data.description)
        {
          var markdown = mh._mdConverter.makeHtml(data.description);
          $("#masthead .lead").html(markdown).show();
        }
        else
          $("#masthead .lead").html("").hide();

        if (data.blog_url)
          $("#masthead a.link-to-site").attr('href', data.blog_url);
        else
          $("#masthead a.link-to-site").attr('href', "/");
      }
      else
        $("#masthead").hide();

      if (data.style_url)
        Utils.addCss(data.style_url);

      if (data.dark_mode)
        Utils.addCss("<%= DARK_MODE_CSS %>");

      if (data.custom_head)
        $("head").append(data.custom_head);
    });
  }

  this.setTitleBar = function(data) {
    var pageLabel = "";
    if (window.location.pathname.indexOf("/dashboard/posts") != -1)
      pageLabel = "Dashboard - Posts - ";
    else if (window.location.pathname.indexOf("/dashboard/queue") != -1)
      pageLabel = "Dashboard - Queue - ";
    else if (window.location.pathname.indexOf("/dashboard") != -1)
      pageLabel = "Dashboard - ";
    else if (window.location.pathname.indexOf("/settings") != -1)
      pageLabel = "Settings - ";

    $("title").prepend(pageLabel);

    if (data.name)
      $("title").prepend(data.name + " - ");
  }
};

Masthead.init("<%= locals.uri %>");
</script>
