<nav class="navbar static-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://secretcampfire.com"><img class="logo" src="/media/logoLight.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-supported-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item collapse" id="active-blog-url">
      </li>
    </ul>
  </div>
</nav>

<% include ../partials/session_datastore.ejs %>
<% include ../partials/set_blog_widget.ejs %>

<script>
  setInterval(function() {
    g_sessionDatastore.getData("blog_url", function(url) {
      if (!url || url.replace(/^\s+|\s+$/g, '').length == 0)
      {
        $("#active-blog-url").html("").hide();
        return;
      }

      $("#active-blog-url").show();
      $("#active-blog-url").html("Viewing as <span id='active-blog' "
        + "style='cursor:pointer;font-weight-bold;text-decoration:underline'>"
        + url + "</span>"
      );
      $("#active-blog").click(function() {
        g_setBlogWidget.open();  
      });
    });
  }, 2000);
</script>
