<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="<%= MASTER_URL %>"><img class="logo rounded-circle" src="/media/logoLight.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-supported-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item collapse" id="active-blog-display"></li>
    </ul>
    <form class="form-inline">
      <button class="btn btn-primary collapse" type="button" id="navbar-delete-button">
        <span class='oi oi-trash' title='Delete' aria-hidden='true'></span>
      </button>
      <button class="btn btn-primary" type="button" id="navbar-dashboard-button">
        <span class='oi oi-home' title='Dashboard' aria-hidden='true'></span>
      </button>
    </form>
  </div>
</nav>

<% include ../partials/session_datastore.ejs %>
<% include ../partials/set_blog_widget.ejs %>

<script>
var Navbar = new function() {
  this.init = function() {
    var nb = this;

    $.getJSON("/is_owner", function(data) {
      nb._isOwner = data.is_owner;

      nb.bindDashButton(); 
      nb.drawActiveBlogWidget(); 
    });
  };

  this.drawActiveBlogWidget = function() {
    if (this._isOwner)
      return;

    var t = setInterval(function() {
      SetBlogWidget.getBlogs(function(urls) {
        if (!urls)
        {
          $("#active-blog-display").html("").hide();
          return;
        }

        var menuItemsHtml = "";
        for (var ui=0; ui < urls.length; ui++)
          menuItemsHtml += '<div class="dropdown-item"'
            + ' style="cursor:pointer"'
            + ' data-url="' + urls[ui] + '">' + urls[ui]
            + '</div>';

        var dropdownHtml 
          = '<div class="dropdown d-inline-block">'
          + '<button class="btn btn-outline-dark btn-sm dropdown-toggle"'
          + ' type="button" id="navbar-active-blog-dropdown"'
          + ' data-toggle="dropdown" aria-haspopup="true"'
          + ' aria-expanded="false"></button>'
          + '<div class="dropdown-menu"'
          + ' aria-labelledby="navbar-active-blog-dropdown">'
          + menuItemsHtml
          + '</div></div>';
        $("#active-blog-display").html("Viewing as <span id='active-blog' "
          + "style='cursor:pointer;font-weight:bold;'>"
          + urls[0]
          + "</span> "
          + dropdownHtml).show();
        $("#active-blog").click(function() {
          SetBlogWidget.open();  
        });
        $("#active-blog-display .dropdown-item").click(function(e) {
          var url = $(this).data('url');
          SetBlogWidget.setBlog(url);
          $("#active-blog").html(url);
        });

        clearInterval(t);
      });
    }, 2000);
  };

  this.bindDashButton = function() {
    var nb = this;
    $("#navbar-dashboard-button").mouseup(function(e) {
      var leftClick = e.which == 1;
      var middleClick = e.which == 2;
      if (!leftClick && !middleClick)
        return;

      if (nb._isOwner)
      {
        var url = "/dashboard";
        if (leftClick)
          window.location.href = url;
        else
        {
          var tab = window.open(url, '_blank');
          tab.focus();
        }
        return;
      }

      SetBlogWidget.getBlog(function(url) {
        url += "/dashboard";
        if (leftClick)
          window.location.href = url;
        else
        {
          var tab = window.open(url, '_blank');
          tab.focus();
        }
      });
    });
  };

  this.activateDeleteButton = function(uri) {
    var nb = this;

    if (!nb._isOwner)
      return;

    if (uri.indexOf('/post') != -1)
    {
      // delete post
      var id = uri.split('/post/')[1];
      $("#navbar-delete-button").click(function(e) {
        var r = confirm("Delete this post?");
        if (!r)
          return;

        $.post('/post/delete', { 
            id: id
          },
          function(data, status, xhr) {
            console.log(data);
          },
          'json')
        .done(function() {
        })
        .fail(function(jqxhr, settines, ex) {
        });
        
        return false;
      }).show();
    }
  }

  this.addFollowButton = function(uri) {
    if (this._isOwner)
      return;

    var html = "<form class='form-inline my-2 my-lg-0'>"
      + "<button type='button' id='follow-button' "
      + " class='btn btn-primary my-2 my-sm-0'>"
      + "<span class='oi oi-plus' title='Follow' aria-hidden='true'></span>"
      + " <span class='label'>Follow</span></button>"
      + "</form>";
    $("#navbar-supported-content").append(html);

    var followButtonConfig = {
      "uri": uri,
      "selector": "#follow-button"
    }

    // check if button is "Follow" or "Following"
    var followButton = null;
    SetBlogWidget.getBlog(function(blog) {
      if (!blog)
      {
        followButton = new FollowButton(followButtonConfig);
        return;
      }
    
      var checkUrl = blog
          + "/follow/check/"
          + encodeURIComponent(followButtonConfig.uri);

      $.getJSON(checkUrl, function(data) {
        if (data.is_following)
        {
          $("#follow-button .oi").removeClass("oi-plus").addClass("oi-eye");
          $("#follow-button .label").html("Following");
          followButtonConfig.isFollowing = true;
        }
  
        followButton = new FollowButton(followButtonConfig);
      });
    }, /*checkOnly*/true);
  };
};

Navbar.init();
</script>
