<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" id="navbar-logo-link" href="<%= MASTER_URL %>"><img class="logo rounded-circle" src="/media/logoLight.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-supported-content">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item collapse" id="active-blog-display"></li>
    </ul>

    <form class="form-inline">
      <button class="btn btn-primary mr-1 collapse" type="button" id="navbar-dashboard-button">
        <span class='oi oi-home' aria-hidden='true'></span>
      </button>
      <button class="btn btn-primary collapse" type="button" id="navbar-edit-button">
        <span class='oi oi-pencil' title='Edit' aria-hidden='true'></span>
      </button>
      <button class="btn btn-primary collapse" type="button" id="navbar-delete-button">
        <span class='oi oi-trash' title='Delete' aria-hidden='true'></span>
      </button>
      <button type='button' id='follow-button' title='Follow'
        class='btn btn-primary collapse'>
      <span class='oi oi-plus' title='Follow' aria-hidden='true'></span>
       <span class='label'>Follow</span></button>
      <button class="btn btn-primary collapse" type="button" id="navbar-login-button">
        <span class='oi oi-key' aria-hidden='true'></span>
      </button>
    </form>
  </div>
</nav>

<% include ../partials/session_datastore.ejs %>
<% include ../partials/set_blog_widget.ejs %>

<script>
<% if (locals.forceThisAsActiveBlog) { %>
  SetBlogWidget.setBlog(
    window.location.protocol + "//" + window.location.host);
<% } %>

<% include ../partials/utils.ejs %>
var Navbar = new function() {
  this.init = function() {
    this.activateLoginButton(); 
    this.drawActiveBlogWidget(); 

    $("#navbar-logo-link").popover(
      Utils.makeBsTooltipCfg('Get your <b>secret campfire</b> blog'));
  };

  this.drawActiveBlogWidget = function() {
    var nb = this;

    SetBlogWidget.getBlogs(function(urls) {
      if (!urls || !urls.length)
      {
        // try again later
        $("#active-blog-display").html("").hide();
        setTimeout(function() {
          nb.drawActiveBlogWidget();
        }, 3000);
        return;
      }

      //urls.sort();

      nb.activateDashButton(); 

      var menuItemsHtml = "";
      for (var ui=0; ui < urls.length; ui++)
        menuItemsHtml += '<div class="dropdown-item"'
          + ' style="cursor:pointer"'
          + ' data-url="' + urls[ui] + '"><small>' 
          + (ui+1) + "</small>. " + urls[ui]
          + '<div class="x collapse">&times;</div>'
          + '</div>';

      var dropdownHtml = "";
      if (urls.length > 1)
      {
        dropdownHtml = '<div class="dropdown d-inline-block">'
        + '<button class="btn btn-outline-dark btn-sm dropdown-toggle"'
        + ' type="button" id="navbar-active-blog-dropdown"'
        + ' data-toggle="dropdown" aria-haspopup="true"'
        + ' aria-expanded="false"></button>'
        + '<div class="dropdown-menu dropdown-menu-right"'
        + ' aria-labelledby="navbar-active-blog-dropdown">'
        + menuItemsHtml
        + '</div></div>';
      }
      var displayUrl = Utils.prettifyBlessedHostUrlForDisplay(urls[0]);
      $("#active-blog-display").html(
        "<span class='oi oi-fire' id='active-blog-visit-button'"
        + " style='cursor: pointer' aria-hidden='true'"
        + " data-url='" + urls[0] + "'></span> "
        + "<span id='active-blog'"
        + " style='cursor:pointer;font-weight:bold;'>"
        + displayUrl
        + "</span> "
        + dropdownHtml).show()
      $("#active-blog").click(function() {
        SetBlogWidget.open();  
      }).popover(Utils.makeBsTooltipCfg('Connected | ' + displayUrl));
      $("#active-blog-display .dropdown-item").click(function(e) {
        var url = $(this).data('url');
        SetBlogWidget.setBlog(url);
        var displayUrl = Utils.prettifyBlessedHostUrlForDisplay(url);
        $("#active-blog").html(displayUrl);
        $("#active-blog").data('bs.popover')
          .config.content = 'Connected | ' + displayUrl;
        $("#active-blog-visit-button").data('url', url);
        $("#active-blog-visit-button").data('bs.popover')
          .config.content = 'Visit | ' + displayUrl;
        $("#navbar-dashboard-button").data('bs.popover')
          .config.content = 'Dashboard | ' + displayUrl;
      });
      $("#active-blog-display .dropdown-item").hover(function() {
        $(this).find(".x").show();
      }, function() {
        $(this).find(".x").hide();
      });
      $("#active-blog-display .dropdown-item .x").click(function(e) {	
        e.preventDefault();
        var url = $(this).parent().data('url');
        $(this).parent().addClass('disabled').off("click")
	      	.css('text-decoration', 'line-through');
        SetBlogWidget.delBlog(url);
        return false;
      });
      $("#active-blog-visit-button").mouseup(function(e) {
        Utils.handleClick(e, $(this).data('url'));
      }).popover(Utils.makeBsTooltipCfg('Visit | ' + displayUrl));

      $("#navbar-dashboard-button").popover(
        Utils.makeBsTooltipCfg('Dashboard | ' + displayUrl));

      $(document).keydown(function(e) {
        if (e.which == 192 && e.ctrlKey) {
          e.preventDefault();
          $("#navbar-active-blog-dropdown").click(); 
          return false;
        }
      });
      $("#active-blog-display .dropdown").keydown(function(e) {
        // 1, 2, 3, 4, 5, 6, 7, 8, 9
        if (e.which == 49 || e.which == 50 || e.which == 51
          || e.which == 52 || e.which == 53 || e.which == 54
          || e.which == 55 || e.which == 56 || e.which == 57) 
        { 
          e.preventDefault();
          var idx = e.which - 49;
          $(this).find(".dropdown-item").eq(idx).click();
          $("#navbar-active-blog-dropdown").blur(); 
          return false;
        }
      });
    });
  };

  this.activateDashButton = function() {
    $("#navbar-dashboard-button").mouseup(function(e) {
      SetBlogWidget.getBlog(function(blog) {
        Utils.handleClick(e, blog + "/dashboard");
      });
    }).show();
  };

  this.activateLoginButton = function() {
    SetBlogWidget.isOwner(function(isOwner) {
      if (isOwner)
        return;

      $("#navbar-login-button").mouseup(function(e) {
        Utils.handleClick(e, "/dashboard");
      })
      .popover(Utils.makeBsTooltipCfg('Sign in | ' + window.location.host))
      .show();
    });
  };

  this.activateEditButton = function(uri) {
    var nb = this;

    SetBlogWidget.isOwner(function(isOwner) {
      if (!isOwner)
        return;

      if (uri.indexOf('/post') != -1)
      {
        var base = uri.split('/post/')[0];
        var id = uri.split('/post/')[1];
        $("#navbar-edit-button").mouseup(function(e) {
          Utils.handleClick(e, base + "/dashboard?edit=" + id);
        }).show();
      }
    });
  };

  this.activateDeleteButton = function(uri) {
    var nb = this;

    SetBlogWidget.isOwner(function(isOwner) {
      if (!isOwner)
        return;

      if (uri.indexOf('/post') != -1)
      {
        // delete post
        var id = uri.split('/post/')[1];
        $("#navbar-delete-button").click(function(e) {
          var r = confirm("Delete this post?");
          if (!r)
            return;

          $.post('/post/delete', { 
              id: id
            },
            function(data, status, xhr) {
              console.log(data);
            },
            'json')
          .done(function() {
          })
          .fail(function(jqxhr, settines, ex) {
          });
          
          return false;
        }).show();
      }
    });
  };

  this.addFollowButton = function(uri) {
    SetBlogWidget.isOwner(function(isOwner) {
      // it's ok to let owner follow own blog(s)
      //if (isOwner)
      //  return;

      $("#follow-button").show();

      var followButtonConfig = {
        "uri": uri,
        "selector": "#follow-button"
      }

      // check if button is "Follow" or "Following"
      var followButton = null;
      SetBlogWidget.getBlog(function(blog) {
        if (!blog)
        {
          followButton = new FollowButton(followButtonConfig);
          return;
        }

        var urlObj = new URL(blog);
        if (window.location.protocol == "https:" 
          && urlObj.protocol == "http:")
          blog = blog.replace(urlObj.protocol, window.location.protocol);
      
        var checkUrl = blog
            + "/follow/check/"
            + Utils.encodeScampyUri(followButtonConfig.uri);

        $.getJSON(checkUrl, function(data) {
          if (data.is_following)
          {
            $("#follow-button .oi").removeClass("oi-plus").addClass("oi-eye");
            $("#follow-button .label").html("Following");
            $("#follow-button").attr("title", "Following");
            followButtonConfig.isFollowing = true;
          }
    
          followButton = new FollowButton(followButtonConfig);
        });
      }, /*checkOnly*/true);
    });
  };
};

Navbar.init();
</script>
