<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="<%= MASTER_URL %>"><img class="logo" src="/media/logoLight.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-supported-content" aria-controls="navbar-supported-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-supported-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item collapse" id="active-blog-url"></li>
    </ul>
    <form class="form-inline">
      <button class="btn btn-primary" type="button" id="dashboard-button">
        <span class='oi oi-home' title='Dashboard' aria-hidden='true'></span>
      </button>
    </form>
  </div>
</nav>

<% include ../partials/session_datastore.ejs %>
<% include ../partials/set_blog_widget.ejs %>

<script>
  setInterval(function() {
    SessionDatastore.getData("blog_url", function(url) {
      if (!url || url.replace(/^\s+|\s+$/g, '').length == 0)
      {
        $("#active-blog-url").html("").hide();
        return;
      }

      $("#active-blog-url").show();
      $("#active-blog-url").html("Viewing as <span id='active-blog' "
        + "style='cursor:pointer;font-weight-bold;'>"
        + url + "</span>"
      );
      $("#active-blog").click(function() {
        SetBlogWidget.open();  
      });
    });
  }, 2000);

  $("#dashboard-button").mouseup(function(e) {
    var leftClick = e.which == 1;
    var middleClick = e.which == 2;
    if (!leftClick && !middleClick)
      return;

    SetBlogWidget.getBlog(function(url) {
      url += "/dashboard";
      if (leftClick)
        window.location.href = url;
      else
      {
        var tab = window.open(url, '_blank');
        tab.focus();
      }
    });
  });
</script>
