<div class="modal fade" tabindex="-1" role="dialog" id="set-blog-modal">
  <div class="modal-dialog" role="document"><div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Enter your <b><%= SITE_NAME %></b> blog URL</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><!--header-->
    <div class="modal-body"><form id="set-blog-form">
      <div class="form-group">
        <input type="text" class="form-control form-blog-url" 
          value="" placeholder="Your blog URL">
        <p class='text-right small mt-2'><a href="<%= MASTER_URL %>">Don't have a <b><%= SITE_NAME %></b> blog yet? Get yours here</a></p>
      </div>
    </form></div><!--body-->
    <div id="set-blog-success-alert" 
      class="alert alert-success collapse" role="alert">Saved!</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" 
        id="set-blog-save-button">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div><!--footer-->
  </div></div><!--document-->
</div><!--modal-->

<script>
var SetBlogWidget = new function() {
  this._datastoreKey = 'blog_url';
  this._callAfterBlogSet = null;

  this.init = function (selector) {
    this.selector = selector;

    var sbw = this;

    // auto-set blog to current site if logged in
    $.getJSON("/is_owner", function(data) {
      if (!data.is_owner)
        return;

      var url = window.location.host;
      $(sbw.selector + "-form .form-blog-url").val(url);
      sbw.handleSave();
    });

    $(this.selector+"-save-button").click(function(e) {
      e.preventDefault();
      sbw.handleSave();
      return false;
    });

    $(this.selector+"-form .form-blog-url").on('keypress', function(e) {
      if (e.which === 13)
      {
        e.preventDefault();
        $(this).attr("disabled", "disabled");
        sbw.handleSave();
        $(this).removeAttr("disabled");
        return false;
      }
    });
  };

  this.handleSave = function() {
    var val = $(this.selector + "-form .form-blog-url").val();
    if (!val)
      return false;

    SessionDatastore.setData(this._datastoreKey, val);
    $(this.selector+"-modal").modal("hide");
    if (this._callAfterBlogSet)
    {
      var cb = this._callAfterBlogSet;
      this._callAfterBlogSet = null;
      cb(val);
    }
  };

  this.getBlog = function(cb, checkOnly) {
    var sbw = this;
    SessionDatastore.getData(this._datastoreKey, function(url) {
      if (url && url.replace(/^\s+|\s+$/g, '').length != 0)
      {
        // blog URL already set
        console.log("[SetBlogWidget] blog set: " + url);
        cb(url);
        return;
      }

      if (!checkOnly)
      {
        sbw._callAfterBlogSet = cb;
        $(sbw.selector+"-modal").modal("show");
      }
      else
        cb(null);
    });
  };

  this.open = function() {
    var sbw = this;
    SessionDatastore.getData(sbw._datastoreKey, function(url) {
      $(sbw.selector+"-form .form-blog-url").val(url);
      $(sbw.selector+"-modal").modal("show");
    });
  };
};

SetBlogWidget.init("#set-blog");
</script>
