/* modals */
#create-post-modal .avatar,
#follow-modal .avatar,
#unfollow-modal .avatar {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* cards */
.card-authorbar {
  overflow: hidden;
  white-space: nowrap;
}
.card-author-post-link,
.card-reblog-author-post-link {
  color: #444;
  text-decoration: none !important;
  font-weight: bold;
}

.card-author-avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background-image: url('/media/logoLight.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.card-author, .card-reblog-author {
  vertical-align: middle;
}

.card-action-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: #bbb;
}

.card-action-bar .action-bar-button {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}
.card-action-bar .action-bar-button:hover {
  color: #ccc;
  background-color: #333;
}

/* news */

.news-container {
  max-height: 100vh;
  overflow: auto;
}

#news-right, #news-left, #news-top {
  color: #666;
  font-size: 15px;
}
#news-right .section,
#news-left .section {
  border: 1px solid #ddd;
}
#news-right .section-title, 
#news-left .section-title, 
#news-top .section-title {
  color: #999;
}

footer {
  margin-top: 10px;
}
