.card-author-post-link {
  color: #444;
  text-decoration: none !important;
  font-weight: bold;
}

.card-author-avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  background-image: url('/media/logoLight.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.card-author {
  vertical-align: middle;
}

#news-right, #news-left, #news-top {
  border: 1px solid #ddd;
}
#news-right .title, #news-left .title, #news-top .title {
  color: #999;
}

