#create-post-form {
  background-color: white;
}
#create-post-form .input {
  border-bottom: 1px solid #ccc;
}

[contentEditable=true]:empty:not(:focus):before {
  content:attr(data-text);
  font-style: italic;
  color: #aaa;
}
#create-post-form .button {
  display: inline-block;
  padding: 2px 10px;
  background-color: #333;
  color: #ccc;
  cursor: pointer;
}
