#center-logo {
  height: 100px;
  opacity: 0.5;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #111 !important;
  border-color: #333;
}
.btn-primary:hover {
  background-color: #16c !important;
}

/* navbar */

.navbar {
  pointer-events: none; /* allow click-through to page beneath */
}
.navbar a,
.navbar button,
.navbar .nav-item {
  pointer-events: auto;
}
.navbar-brand .logo {
  height: 35px;
}
#active-blog-display {
	padding: 0px 8px;
}
#active-blog-display .btn {
  border-color: transparent;
}
#active-blog-display .dropdown-item {
  position: relative;
}
#active-blog-display .dropdown-item .x {
  position: absolute;
  width: 1rem;
  text-align: center;
  right: -1rem;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}
.navbar-brand .logo, #active-blog-display {
	background-color: rgba(255, 255, 255, 0.3);
}
.navbar-brand .logo:hover, #active-blog-display:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
#active-blog:hover {
  color: #46b;
}

/* masthead */

#jumbotron {
  padding: 2rem 2rem;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
#jumbotron.active {
  min-height: 300px;
}
#jumbotron.inactive {
  min-height: 110px;
}

#masthead {
  text-align: center;
}
#masthead h1, #masthead .lead {
}
#masthead a {
  color: #212529;
}
#masthead a:hover {
  text-decoration: none;
}
#masthead .avatar {
  margin-top: calc(-60px - 2rem);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* footer */

footer {
  color: #aaa;
}
footer a {
  color: #888;
}
footer a:hover {
  color: #111;
  text-decoration: none;
}
footer .logo {
  height: 20px;
  opacity: 0.5;
}

/* news */

.news-post img {
  max-width: 100%;
}

/* kalona */
#kalona {
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}
#kalona a:focus {
  outline: none;
}
#kalona img {
  width: 30px;
}

/* popovers / tooltips */
.popover {
	background-color: rgba(0, 0, 0, 0.8);
}
.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.bs-popover-auto[x-placement^=top] .arrow::after,
.bs-popover-top .arrow::after {
  border-top-color: rgba(0, 0, 0, 0.8);
}
.bs-popover-auto[x-placement^=right] .arrow::after,
.bs-popover-right .arrow::after {
  border-right-color: rgba(0, 0, 0, 0.8);
}
.bs-popover-auto[x-placement^=left] .arrow::after,
.bs-popover-left .arrow::after {
  border-left-color: rgba(0, 0, 0, 0.8);
}
.popover .popover-header,
.popover .popover-body {
  color: #ddd;
}

/* loading spinner */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ddd;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
