.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #111 !important;
  border-color: #333;
}
.btn-primary:hover {
  background-color: #16c !important;
}

nav:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-brand .logo {
  height: 35px;
}
#active-blog:hover {
  color: #46b;
}

#jumbotron {
  padding: 2rem 2rem;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
#jumbotron.active {
  min-height: 300px;
}
#jumbotron.inactive {
  min-height: 110px;
}

#masthead {
  text-align: center;
  margin-bottom: 40px;
}
#masthead h1, #masthead .lead {
}
#masthead .avatar {
  margin-top: calc(-60px - 2rem);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
