#center-logo {
  height: 100px;
  opacity: 0.5;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #111 !important;
  border-color: #333;
}
.btn-primary:hover {
  background-color: #16c !important;
}

/* navbar */

.navbar {
  pointer-events: none; /* allow click-through to page beneath */
}
.navbar a,
.navbar button {
  pointer-events: auto;
}
.navbar-brand .logo {
  height: 35px;
}
#active-blog-url {
	padding: 0px 10px;
}
.navbar-brand .logo, #active-blog-url {
	background-color: rgba(255, 255, 255, 0.3);
}
.navbar-brand .logo:hover, #active-blog-url:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
#active-blog:hover {
  color: #46b;
}

/* masthead */

#jumbotron {
  padding: 2rem 2rem;
  background-color: transparent;
  background-size: cover;
  background-position: center;
}
#jumbotron.active {
  min-height: 300px;
}
#jumbotron.inactive {
  min-height: 110px;
}

#masthead {
  text-align: center;
  margin-bottom: 40px;
}
#masthead h1, #masthead .lead {
}
#masthead a {
  color: #212529;
}
#masthead a:hover {
  text-decoration: none;
}
#masthead .avatar {
  margin-top: calc(-60px - 2rem);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* footer */

footer {
  color: #aaa;
}
footer a {
  color: #888;
}
footer a:hover {
  color: #111;
  text-decoration: none;
}
footer .logo {
  height: 20px;
  opacity: 0.5;
}

/* news */

.news-post img {
  max-width: 100%;
}

/* kalona */
#kalona {
  position: fixed;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}
#kalona a:focus {
  outline: none;
}
#kalona img {
  width: 30px;
}
.kalona-popover {
	background-color: rgba(0, 0, 0, 0.8);
}
.kalona-popover .popover-header,
.kalona-popover .popover-body {
  color: #ddd;
}
