#feed-grid .grid-item {
  margin-bottom: 15px;
}
#feed-grid .grid-item img {
  width: 100%;
}
#feed-grid .card-body {
  color: #444;
}
#feed-grid .card-title {
  font-weight: bold;
}
#feed-grid a.card-title-link {
  text-decoration: none;
  color: #444;
}

#feed-grid-button .button {
  display: inline-block;
  border: 1px solid #888;
  padding: 5px 10px;
  color: #888;
}
