/*
 * all views
 */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/*
 * feed view
 */

.grid-item {
}
.grid-item img {
  width: 100%;
}

.card {
  position: relative;
  box-sizing: border-box;
}
.card:hover .fold {
  /* https://codepen.io/cseeds/pen/niAJc */
  border-width: 0px 30px 30px 0px;
}
.card .fold {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0;
  border-style: solid;
  background: #8af;
  display: block;
  border-color: transparent #ddd transparent #ddd;

  -webkit-transition: border-width 0.2s ease-out;
  -moz-transition: border-width 0.2s ease-out;
  -ms-transition: border-width 0.2s ease-out;
  -o-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}
.card-overlay {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 50px;
  font-size: 20px;
  color: #eee;
  padding: 12px;
  text-align: center;
}
.card-body {
  color: #444;
}
.card-title {
  font-weight: bold;
}
a.card-title-link {
  text-decoration: none;
  color: #444;
}

.more-button {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #888;
  padding: 5px 10px;
  color: #888;
}

.card-text blockquote {
  border-left: 2px solid #ddd;
  padding-left: 1rem;
}

/* 
 * single post view
 */

#post-container .reblog-info a {
  font-weight: bold;
  text-decoration: none;
  color: #444;
}

#post-container img.img-top {
  width: 100%;
}
#post-container .title {
  font-weight: bold;
}
#post-container a.title-link {
  text-decoration: none;
  color: #444;
}
#post-container .text {
  color: #444;
}
#post-container .text blockquote {
  border-left: 2px solid #ddd;
  padding-left: 1rem;
}
#post-container .oi {
  font-size: 20px;
  color: #aaa;
}
#post-container .oi:hover {
  color: #333;
}

#post-container .action-bar {
  color: #888;
}
#post-container .action-bar .action-bar-button {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
#post-container .action-bar .action-bar-button:hover {
  color: #ccc;
  background-color: #333;
  border: 1px solid #ccc;
}
#post-container .action-bar .reblog-button {
  cursor: pointer;
}
