/*
 * feed view
 */

.grid-item {
  margin-bottom: 15px;
}
.grid-item img {
  width: 100%;
}

.card {
  position: relative;
  box-sizing: border-box;
}
.card:hover .fold {
  /* https://codepen.io/cseeds/pen/niAJc */
  border-width: 0px 30px 30px 0px;
}
.card .fold {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0;
  border-style: solid;
  background: #8af;
  display: block;
  border-color: transparent #ddd transparent #ddd;

  -webkit-transition: border-width 0.2s ease-out;
  -moz-transition: border-width 0.2s ease-out;
  -ms-transition: border-width 0.2s ease-out;
  -o-transition: border-width 0.2s ease-out;
  transition: border-width 0.2s ease-out;
}
.card-body {
  color: #444;
}
.card-title {
  font-weight: bold;
}
a.card-title-link {
  text-decoration: none;
  color: #444;
}

.more-button {
  display: inline-block;
  border: 1px solid #888;
  padding: 5px 10px;
  color: #888;
}

/* 
 * single post view
 */

#post-container img.img-top {
  width: 100%;
}
#post-container .title {
  font-weight: bold;
}
#post-container a.title-link {
  text-decoration: none;
  color: #444;
}
#post-container .text {
  color: #444;
}
