<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <% include ../partials/masthead.ejs %>

  <div class="container">
    <div class="row mb-5">
      <div class="col"></div>
      <div class="col-5 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-post-modal">
          <span class='oi oi-pencil' title='New post' aria-hidden='true'></span>
          New post
        </button>
        <button type="button" class="btn btn-sm btn-secondary" id="posts-button">
          <span class='oi oi-book' title='Your posts' aria-hidden='true'></span>
          Posts
        </button>
        <button type="button" class="btn btn-sm btn-secondary" id="settings-button">
          <span class='oi oi-cog' title='Settings' aria-hidden='true'></span>
          Settings
        </button>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col-5">
        <div id="posts" class="grid">
          <div class="grid-sizer"></div>
        </div>
      </div><!--col-->
      <div class="col"></div>
    </div><!--row-->

    <div id="posts-button" class="collapse text-center">
      <div class="button more-button">more</div>
    </div>

    <div id="posts-template" class="d-none">
      <div class="grid-item">
      <div class="card mb-4">
        <a class="card-img-fold-link" href="#"><span class="fold"></span></a>
        <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
        <div class="card-body">
          <a class="card-title-link" href="#"><h5 class="card-title"></h5></a>
          <p class="card-text"></p>
        </div>
      </div><!--card-->
      </div><!--grid-item-->
    </div><!--posts-template-->
  </div><!--container-->

  <div class="modal fade" tabindex="-1" role="dialog" id="create-post-modal">
    <div class="modal-dialog" role="document"><div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--header-->
      <div class="modal-body"><form id="create-post-form" data-mode="new">
        <div class="form-group">
          <input type="text" class="form-control form-post-title" 
            value="" placeholder="Title">
          <input type="text" class="form-control form-post-thumb" 
            value="" placeholder="Thumbnail">
          <input type="text" class="form-control form-post-url" 
            value="" placeholder="URL">
          <input type="hidden" class="form-control form-post-reblog-url" 
            value="">
          <textarea class="form-control form-post-text" rows="5" placeholder="Text"></textarea>
          <input type="text" class="form-control form-post-tags" 
            value="" placeholder="Tags">
        </div>
      </form></div><!--body-->
      <div id="create-post-success-alert" 
        class="alert alert-success collapse" role="alert">Post saved!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
          id="create-post-save-button">
          <span class='oi oi-pencil' title='Save' aria-hidden='true'></span>
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div><!--footer-->
    </div></div><!--document-->
  </div><!--modal-->

  <div class="modal fade" tabindex="-1" role="dialog" id="follow-modal">
    <div class="modal-dialog" role="document"><div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Follow new blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--header-->
      <div class="modal-body"><form id="follow-form">
        <div class="form-group">
          <input type="text" class="form-control form-follow-url" 
            value="" placeholder="Blog URL">
        </div>
      </form></div><!--body-->
      <div id="follow-success-alert" 
        class="alert alert-success collapse" role="alert">Follow success!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
          id="follow-save-button">
          <span class='oi oi-plus' title='Follow' aria-hidden='true'></span>
          Follow
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div><!--footer-->
    </div></div><!--document->
  </div><!--modal-->

  <script>
    <% include ../partials/dashboard.ejs %>
    <% include ../partials/render_feed.ejs %>

    var dash = new Dashboard({
      "postSelector": "#create-post",
      "followSelector": "#follow"
    });

    var renderer = null;
    $.getJSON("<%= uris[0] %>", function(data) {
      var cfg = {
        "uris": <%- JSON.stringify(uris) %>,
        "selector": "#posts",
      };

      <%if (uris.length == 1) {%>
      if (data.style_url)
        addCss(data.style_url);
      <% } %>

      renderer = new RenderFeed(cfg);
    });  

    function addCss(cssPath) {
      var stylesheet = document.createElement("link");
      stylesheet.href=cssPath;
      stylesheet.rel="stylesheet";
      stylesheet.type = 'text/css';
      document.getElementsByTagName("head")[0].appendChild(stylesheet);
      window.___gcfg={parsetags:'onload'};
    }
  </script>
</body>
</html>
