<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
    <!--
    <input id="feed_url" type="text" style="width: 100%"></input>
    -->
  </div>
</body>
</html>
