<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container mt-4">
    <img id="center-logo" class="mt-5" src="/media/logoLight.png" />
    <h1 class="mb-4 mt-3">Almost there...</h1>
    <p>Success, your <b><%= SITE_NAME %></b> blog is alive!</p>
    <p>But before you start, you'll want to secure your blog by changing the default password:</p>
    <ol>
      <li>
        Visit your <a href="/dashboard">Dashboard</a> and log in. (The default password is <em>password</em>).
      </li>
      <li>
        Click on the <a href="/settings">Settings</a> button.
      </li>
      <li>
        Set your new password and click Save.
      </li>
      <li>
        Enjoy your shiny new <b><%= SITE_NAME %></b> blog!
      </li>
    </ol>
  </div>
</body>
</html>
