<form action="/login" method="post">
	<input type="hidden" name="username" value="admin"/>

	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>

	<input type="submit" value="Submit"/>
	</div>
</form>
