<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
</head>

<body>
  <div class="container-fluid">
    <div id="feed-grid" class="grid">
      <div class="grid-sizer col-md-3"></div>
    </div><!--feed-grid-->
  </div><!--container-->


  <div id="feed-grid-button"><div class="button">more</div></div>

  <div id="feed-grid-template">
    <div class="card">
      <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
			<div class="card-body">
				<h6 class="card-title">&nbsp;</h6>
				<p class="card-text">&nbsp;</p>
			</div>
    </div><!--card-->
  </div><!--feed-grid-template-->

  <div id="feed-grid-template-2">
    <div class="grid-item col-md-3">
      <div class="grid-item-content"><img src=""/></div>
    </div>
  </div><!--feed-grid-template-->

  <script>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/render_post.ejs %>
  
    var feedRenderer = null;
    var postRenderer = null;
  
    $.getJSON("<%= uri %>", function(data) {
      var cfg = {
        "uri": "<%= uri %>",
        "selector": "#feed-grid",
        "data": data
      };
      addCss(data.style);
      if (data.posts)
      {
        feedRenderer = new FeedRenderer(cfg);
      }
      else
      {
        postRenderer = new PostRenderer(cfg);
      }
    });  

    function addCss(cssPath) {
      var stylesheet = document.createElement("link");
      stylesheet.href=cssPath;
      stylesheet.rel="stylesheet";
      stylesheet.type = 'text/css';
      document.getElementsByTagName("head")[0].appendChild(stylesheet);
      window.___gcfg={parsetags:'onload'};
    }
  </script>
</body>
</html>
