<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div id="feed-grid" class="grid"></div>
    <div id="feed-grid-button">more</div>
  </div><!--container-->

  <script>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/render_post.ejs %>
  
    var feedRenderer = null;
    var postRenderer = null;
  
    $.getJSON("<%= uri %>", function(data) {
      var cfg = {
        "uri": "<%= uri %>",
        "selector": "#feed-grid",
        "data": data
      };
      addCss(data.style);
      if (data.posts)
      {
        feedRenderer = new FeedRenderer(cfg);
      }
      else
      {
        postRenderer = new PostRenderer(cfg);
      }
    });  

    function addCss(cssPath) {
      var stylesheet = document.createElement("link");
      stylesheet.href=cssPath;
      stylesheet.rel="stylesheet";
      stylesheet.type = 'text/css';
      document.getElementsByTagName("head")[0].appendChild(stylesheet);
      window.___gcfg={parsetags:'onload'};
    }
  </script>
</body>
</html>
