<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <% include ../partials/masthead.ejs %>

  <!-- feed view -->

  <div class="container">
    <div id="feed-grid" class="grid">
      <div class="grid-sizer col-md-4"></div>
    </div><!--feed-grid-->
  </div><!--container-->

  <div id="feed-grid-button" class="collapse text-center">
    <div class="button more-button">more</div>
  </div>

  <div id="feed-grid-template" class="d-none">
    <div class="grid-item col-md-4">
    <div class="card grid-item-content">
      <div class="card-overlay collapse">
        <span class='reblog-button oi oi-loop-square' title='Reblog' aria-hidden='true'></span>
      </div>
      <a class="card-img-fold-link" href="#"><span class="fold"></span></a>
      <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
			<div class="card-body">
				<a class="card-title-link" href="#"><h5 class="card-title"></h5></a>
				<p class="card-text"></p>
			</div>
    </div><!--card-->
    </div><!--grid-item-->
  </div><!--feed-grid-template-->

  <!-- single post view -->

  <div class="container">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col-8 collapse" id="post-container">
        <a class="img-top-link" href="#"><img class="img-top mb-3" src=""/></a>
        <div class="action-bar mb-3 px-2">
          <span class='reblog-button oi oi-loop-square' title='Reblog' aria-hidden='true'></span>
        </div>
        <a class="title-link" href="#"><h5 class="title"></h5></a>
        <div class="text"></div>
        <div class="date small"></div>
      </div>
      <div class="col"></div>
    </div><!--row-->
  </div><!--container-->

  <script>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/render_post.ejs %>
    <% include ../partials/follow_button.ejs %>
    <% include ../partials/reblog_button.ejs %>
  
    var renderer = null;
  
    $.getJSON("<%= uri %>", function(data) {
      if (data.style_url)
        addCss(data.style_url);

      if (data.posts)
      {
        var cfg = {
          "uris": ["<%= uri %>"],
          "selector": "#feed-grid"
        };
        renderer = new RenderFeed(cfg);
      }
      else
      {
        var cfg = {
          "uri": "<%= uri %>",
          "selector": "#post-container"
        };
        renderer = new RenderPost(cfg);
      }

      /* add Follow button to navbar */
      var html = "<form class='form-inline my-2 my-lg-0'>"
        + "<button type='button' id='follow-button' "
        + " class='btn btn-primary my-2 my-sm-0'>"
        + "<span class='oi oi-plus' title='Follow' aria-hidden='true'></span>"
        + " <span class='label'>Follow</span></button>"
        + "</form>";
      $("#navbar-supported-content").append(html);

      var urlObj = new URL("<%= uri %>");
      var urlBase = urlObj.protocol + "//" + urlObj.host;
      var followButtonConfig = {
        "uri": urlBase + "/feed",
        "selector": "#follow-button"
      }
      if (data.blog_url)
        followButtonConfig.uri = data.blog_url + "/feed";

      // check if we need to activate the follow button
      var followButton = null;
      SetBlogWidget.getBlog(function(blog) {
        if (!blog)
        {
          followButton = new FollowButton(followButtonConfig);
          return;
        }
      
        var checkUrl = blog
            + "/follow/check/"
            + encodeURIComponent(followButtonConfig.uri);

        $.getJSON(checkUrl, function(data) {
          if (data.is_following)
          {
            $("#follow-button .oi").removeClass("oi-plus").addClass("oi-eye");
            $("#follow-button .label").html("Following");
            followButtonConfig.isFollowing = true;
          }
  
          followButton = new FollowButton(followButtonConfig);
        });
      }, /*checkOnly*/true);

    });  

    function addCss(cssPath) {
      var stylesheet = document.createElement("link");
      stylesheet.href=cssPath;
      stylesheet.rel="stylesheet";
      stylesheet.type = 'text/css';
      document.getElementsByTagName("head")[0].appendChild(stylesheet);
      window.___gcfg={parsetags:'onload'};
    }
  </script>
</body>
</html>
