<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>

  <!-- jumbotron -->
  <div class="jumbotron jumbotron-fluid" id="jumbotron"></div>
  <div id="masthead" class="collapse">
    <div class="avatar collapse"></div>
    <h1 class="collapse"></h1>
    <p class="lead collapse"></p>
  </div>

  <!-- feed view -->

  <div class="container">
    <div id="feed-grid" class="grid">
      <div class="grid-sizer col-md-4"></div>
    </div><!--feed-grid-->
  </div><!--container-->

  <div id="feed-grid-button" class="collapse text-center">
    <div class="button more-button">more</div>
  </div>

  <div id="feed-grid-template" class="d-none">
    <div class="grid-item col-md-4">
    <div class="card grid-item-content">
      <a class="card-img-fold-link" href="#"><span class="fold"></span></a>
      <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
			<div class="card-body">
				<a class="card-title-link" href="#"><h5 class="card-title"></h5></a>
				<p class="card-text"></p>
			</div>
    </div><!--card-->
    </div><!--grid-item-->
  </div><!--feed-grid-template-->

  <!-- single post view -->

  <div class="container">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col-8" id="post-container">
        <div class="date"></div>
        <a class="img-top-link" href="#"><img class="img-top mb-3" src=""/></a>
        <a class="title-link" href="#"><h5 class="title"></h5></a>
        <div class="text"></div>
      </div>
      <div class="col"></div>
    </div><!--row-->
  </div><!--container-->

  <script>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/render_post.ejs %>
    <% include ../partials/follow_button.ejs %>
  
    var renderer = null;
  
    $.getJSON("<%= uri %>", function(data) {
      if (data.style_url)
        addCss(data.style_url);

      // set jumbotron
      if (data.header_url)
        $("#jumbotron").css('background-image', 
          'url(' + data.header_url + ')').addClass('active');
      else
        $("#jumbotron").addClass('inactive');

      // set masthead
      if (data.name || data.description || data.avatar_url)
      {
        $("#masthead").show();

        if (data.avatar_url)
          $("#masthead .avatar").css('background-image', 
              'url(' + data.avatar_url + ')').show();

        if (data.name)
          $("#masthead h1").html(data.name).show();

        if (data.description)
          $("#masthead .lead").html(data.description).show();
      }

      if (data.posts)
      {
        var cfg = {
          "uris": ["<%= uri %>"],
          "selector": "#feed-grid"
        };
        renderer = new FeedRenderer(cfg);
      }
      else
      {
        var cfg = {
          "uri": "<%= uri %>",
          "selector": "#post-container"
        };
        renderer = new PostRenderer(cfg);
      }

      var urlObj = new URL("<%= uri %>");
      var urlBase = urlObj.protocol + "//" + urlObj.host;
      var followButtonConfig = {
        "uri": urlBase + "/feed",
        "selector": "#navbar-supported-content",
        "setBlogWidget": g_setBlogWidget
      }
      if (data.blog_url)
        followButtonConfig.uri = data.blog_url + "/feed";
      var followButton = new FollowButton(followButtonConfig);

    });  

    function addCss(cssPath) {
      var stylesheet = document.createElement("link");
      stylesheet.href=cssPath;
      stylesheet.rel="stylesheet";
      stylesheet.type = 'text/css';
      document.getElementsByTagName("head")[0].appendChild(stylesheet);
      window.___gcfg={parsetags:'onload'};
    }
  </script>
</body>
</html>
